<div class="row">
    <section class="main col-md-9">
      <article>
      <h2><b>About</b></h2>
      <p>
        I am Rohan from India. 
        In my free time i play competitive games mainly Valorant and since Overwatch 2 is going to release Soon, would play that too. I wanna be an 3D animator
      </p>
    
      </article>
    </section>
    <aside class="col-md-3">
      <h2><b>Coming Soon</b></h2>
      <p>Stay tuned for future updates.</p>
    </aside>
</div>